<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/bootstrap.css">
</head>

<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid d-flex justify-content-between">
            <div class="bg-danger">
                <a class="navbar-brand">STORYFY</a>
            </div>
            <div class="bg-danger">
                <a class="navbar-brand">Home</a>
                <select name="" id="">
                    <option value="">Book</option>
                    <option value="">Book</option>
                </select>
                <a class="navbar-brand">Home</a>
            </div>
            <div class="bg-danger">
                <a class="navbar-brand">Navbar</a>
            </div>

        </div>
    </nav>
</body>

</html>