.sliderImg {
    width: 100px;
    height: 100px;
    animation: scroll 60s linear infinite;
}

.slide-track {
    width: 100%;
    display: flex;
    gap: 3em;
    overflow: hidden;
}

.logo-slider {
    padding-top: 20px;
    padding-bottom: 20px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translatex(-1000%)
    }
}

.carousel-img {
    height: 90vh;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .carousel-img {
        height: 40vh;
    }

    .sliderImg {
        width: 50px;
        height: 50px;
        animation: scroll 60s linear infinite;
    }
}
